div.react-terminal-wrapper {
  font-family: "Ubuntu Mono";
  padding-left: 1rem;
  padding-right: 1rem;
}

div.react-terminal {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll; 
  height: 400px;
}

div.react-terminal::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  div.react-terminal-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  div.react-terminal {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    height: 600px;
  }
}


