div.react-terminal-wrapper {
  font-family: "Ubuntu Mono";
}

div.react-terminal {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll; 
}

div.react-terminal::-webkit-scrollbar {
  display: none;
}