div.react-terminal-wrapper {
  font-family: "Ubuntu Mono";
}

@media (max-width: 480px) {
  div.react-terminal-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

div.react-terminal {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll; 
}

div.react-terminal::-webkit-scrollbar {
  display: none;
}